<%- include('partials/header') -%>
    <head>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <section id="home" class="slider_area">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="slider-content">
                                    <h1 class="title">Better Bookmarks</h1>
                                    <p class="text">Our bookmarking app makes sharing your links easy and fun</p>
                                    <ul class="slider-btn rounded-buttons">
                                        <li><a class="main-btn rounded-one" href="/signup">Signup</a></li>
                                        <li><a class="main-btn rounded-two" href="/login">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                </div> <!-- carousel-item -->
            </div>
        </section>
        
        <!--====== FEATURES ======-->

        <section id="services" class="features-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="section-title text-center pb-10">
                            <h3 class="title">Features</h3>
                            <p class="text">Use our site to manage all of your developer bookmarks. Happiness guaranteed!</p>
                        </div> <!-- row -->
                    </div>
                </div> <!-- row -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="single-features mt-40">
                            <div class="features-title-icon d-flex justify-content-between">
                                <h4 class="features-title"><a href="#">Custom Bookmarks</a></h4>
                                <div class="features-icon">
                                    <i class="lni lni-brush"></i>
                                </div>
                            </div>
                            <div class="features-content">
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptas excepturi obcaecati placeat veniam porro a eum nulla.</p>
                                <a class="features-btn" href="#">Sign Up Now</a>
                            </div>
                        </div> <!-- single features -->
                    </div>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="single-features mt-40">
                            <div class="features-title-icon d-flex justify-content-between">
                                <h4 class="features-title"><a href="#">Vote Links</a></h4>
                                <div class="features-icon">
                                    <i class="lni lni-layout"></i>
                                </div>
                            </div>
                            <div class="features-content">
                                <br>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptas excepturi obcaecati placeat veniam porro a eum.</p>
                                <a class="features-btn" href="#">Sign Up Now</a>
                            </div>
                        </div> <!-- single features -->
                    </div>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="single-features mt-40">
                            <div class="features-title-icon d-flex justify-content-between">
                                <h4 class="features-title"><a href="#">Easy Sharing</a></h4>
                                <div class="features-icon">
                                    <i class="lni lni-bolt"></i>
                                </div>
                            </div>
                            <div class="features-content">
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptas excepturi obcaecati placeat veniam porro a eum nulla.</p>
                                <a class="features-btn" href="#">Sign Up Now</a>
                            </div>
                        </div> <!-- single features -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>

    </body>
