<%- include('partials/header') -%>
<body>
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column form-section">
        <div class="loginbackground box-background--white padding-top--64">
            <div class="loginbackground-gridContainer">
            <div class="box-root flex-flex form-box">
                <div class="box-root">
                </div>
            </div>
            </div>
        </div>
        <div class="box-root padding-top--24 flex-flex flex-direction--column login-title">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1 class="form-title">Better Bookmarks</h1>
            </div>
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                <span class="padding-bottom--15 notice-heading form-span">Sign up for an account</span>
                <!-- flash any error messages for login -->
                <% if (locals.messages.errors) 
                    { %> <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %> 
                <% } %> 
                <% if (locals.messages.info) { %> 
                    <%messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %> 
                <% } %>
                <form id="stripe-login" action="/signup" method="POST">
                    <div class="field padding-bottom--24">
                        <label for="userName">User Name</label>
                        <input type="text" name="userName">
                    </div>
                    <div class="field padding-bottom--24">
                        <label for="exampleInputEmail1">Email Address</label>
                        <input type="email" aria-describedby="emailHelp" name="email">
                    </div>
                    <div class="field padding-bottom--24">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <div class="field padding-bottom--24">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" name="confirmPassword">
                    </div>
                    <div class="field padding-bottom--24 submit-input">
                        <input type="submit" class="btn btn-primary submit-button" value="Signup"></input>
                    </div>
                </form>
                </div>
            </div>
            <div class="footer-link padding-top--24">
                <span class="form-span">Already have an account? <a href="/login">Log In</a></span>
            </div>
            </div>
        </div>
        </div>
    </div>
</body>
<%- include('partials/footer') -%>