@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100%;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #121212; 
}

h1 {
    letter-spacing: -1px;
}

a {
    color: #5469d4;
    text-decoration: unset;
}

.login-title {
    flex-grow: 1; 
    z-index: 0;
}

.title-heading-login {
    margin: 10% 0 2% 0;
}

.title-heading-signup {
    margin: 3% 0;
}

.notice-heading {
    margin-bottom: 4%;
}

.login-root {
    background: #fff;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.loginbackground {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.google-text {
    font-size: medium;
    text-align: center;
    color: #5469d4;
}

.google-text:hover {
    color: #000000;
}

.flex-flex {
    display: flex;
}

.form-title {
    font-size: larger;
    font-weight: bold;
}

.form-section {
    min-height: 100vh;
    flex-grow: 1;
}

.form-box {
    grid-area: top / start / 8 / end;
}

.align-center {
    align-items: center; 
}

.center-center {
    align-items: center;
    justify-content: center;
}

.box-root {
    box-sizing: border-box;
}

.flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
}

.box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
}

.box-background--blue {
    background-color: #5469d4;
}
.box-background--white {
background-color: #ffffff; 
}
.box-background--blue800 {
    background-color: #212d63;
}

.box-background--gray100 {
    background-color: #e3e8ee;
}

.box-background--cyan200 {
    background-color: #7fd3ed;
}

.padding-top--64 {
    padding-top: 64px;
}

.padding-top--24 {
    padding-top: 24px;
}

.padding-top--48 {
    padding-top: 48px;
}

.padding-bottom--24 {
    padding-bottom: 24px;
}

.padding-horizontal--48 {
    padding: 48px;
}

.padding-bottom--15 {
    padding-bottom: 15px;
}

.flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
}

.formbg {
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.form-span {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #1a1f36;
}

label {
    margin-bottom: 10px;
}

.reset-pass a,label {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.reset-pass > a {
    text-align: right;
    margin-bottom: 10px;
}

.grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
    background-color: rgb(84, 105, 212);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                rgb(84, 105, 212) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.field-checkbox input {
    width: 20px;
    height: 15px;
    margin-right: 5px; 
    box-shadow: unset;
    min-height: unset;
}

.field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
}

.submit-input {
    margin-top: 6%;
}

a.ssolink {
    display: block;
    text-align: center;
    font-weight: 600;
}

.footer-link span {
    font-size: 14px;
    text-align: center;
}

.footer-link a:hover {
color:#000000;
}

#dashboard-nav {
    font-size: large;
    font-weight: bolder;
}

#dashboard-nav:hover {
    color: #2155CD;
}

#post-title {
    font-size: x-large;
    font-weight: 800;
}

#submit-comment {
    background-color: #2155CD;
    font-size: small;
}

#submit-comment:hover {
    background-color: #000000;
    font-size: small;
}

.comment-box {
    margin: -2% 0 4% 48%;
}

.comment-interact * {
    display: inline-block;
    margin: 0 0 1% 2%;
}

.delete-button {
    font-size: x-small;
    font-weight: 600;
    color: white;
    background-color: #F96666;
    margin-left: 40%;
}

.btn {
    background-color: #2155CD;
}

.heart-button:hover, .btn-like-clicked {
    color:#F96666;
}

.fav-btn:hover, .btn-fav-clicked {
    color: #2155CD;
    background-color: #FFDE00;
}

.btn-like-clicked:hover {
    color: #ffffff;
}

.unbookmark {
    font-size: 12px;
    font-weight: 700;
}

.submit-button {
    width: 96%;
    background-color: #2155CD;
}

.submit-button:hover{
    background-color: #000000;
}

.new-bookmark-title {
    font-size: 24px;
    font-weight: 700;
}

.username {
    font-weight: bold;
    font-size: large;
}

.author {
    text-align: center;
    margin-bottom: 6%;
}

.button-links {
    display: flex;
    margin: -7% 0 4% -7%;
}

.container-feed {
    margin-bottom: 10%;
}

.favourites-btn {
    margin: -13% 0% 10% 95.4%;
}

.feed-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 12%;
}

.footer {
    margin-bottom: 10%;
}

.liked-heart {
    background-color: #000000;
}

.likes-text {
    margin-left: 8%;
    font-size: 12px;
    font-weight: 600;
}

.post-delete {
    margin: -4% 0% 0 82%;
}

.post-image {
    height: 300px;
    width: 720px;
}

.post-likes {
    margin-right: 38%;
    
}

.likes-comment-post {
    margin-left: -9%;
    font-size: small;
}

.likes-text-post {
    font-size: small;
    font-weight: 700;
}

.comment-delete-btn {
    margin-left: 50%;
}

.profile-cards {
    margin: 4% 0 0 16%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-image {
    height: 200px;
    width: 384px;
}

.profile-links {
    display: flex;
    margin-left: 20%;
    padding: 0 10%;
    width: 120%;
    font-weight: bolder;
}

.profile-span {
    margin: 0 2%;
}

.underline-link {
    text-decoration: underline;
}

@media screen and (max-width: 1536px) {
    .feed-cards-child {
       flex-basis: 38%;
       margin-left: 2%;
    }
    .post-delete {
        margin: -4.8% 0% 0 82%;
    }
    .comment-delete-btn {
        margin-left: 46%;
    }
}

@media screen and (max-width: 1080px) {
    .feed-cards-child {
       flex-basis: 100%;
       margin-left: 12%;
    }
}

@media (max-width: 1280px) and (min-width: 1024px) {
    .post-delete {
        margin: -6% 0% 0 80%;
    }
    .comment-delete-btn {
        margin-left: 40%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .post-delete {
        margin: -8.2% 0% 0 76%;
    }
    .comment-delete-btn {
        margin-left: 30%;
    }
}

@media (max-width: 768px) and (min-width: 640px) {
    .post-delete {
        margin: -10% 0% 0 74%;
    }
    .likes-text-post {
        font-size: 12px;
    }
    .comment-delete-btn {
        margin-left: 22%;
    }
    .feed-cards-child {
        margin-left: 4%;
     }
    .main-profile-link {
        margin-left: -8%;
    }
    .profile-card {
        flex-basis: 110%;
        margin-left: 4%;
    }
}

@media (max-width: 640px) and (min-width: 400px) {
    .post-delete {
        margin: -14% 0% 0 72%;
    }
    .likes-text-post {
        font-size: 12px;
        margin-left: -60%;
    }
    .comment-delete-btn {
        margin-left: 10%;
    }
    .feed-cards-child {
        margin-left: -2%;
     }
     .main-profile-link {
        margin-left: -16%;
    }
     .profile-card {
        flex-basis: 70%;
    }
}

@media screen and (max-width: 770px) {
    /* .profile-card {
        flex-basis: 110%;
        margin-left: 4%;
    } */
    .footer {
        margin-bottom: 10%;
    }
}